@page "/Meta"

<MudContainer Class="container-body">
    <MudContainer Class="container-items">
        <div class="items-btn whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
            <p>Whatsapp</p>
        </div>  
        
        <div class="items-btn instagram">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
        </div>
        
        <div class="items-btn facebook">
            <i class="fa-brands fa-facebook"></i>
            <p>Facebook</p>
        </div>
    </MudContainer>


</MudContainer>

@code {

}
