<div class="table" style="border: none;">
    <MudTable Style="border: none;" HeaderClass="headerTabla" RowClass="rowTabla" Items="lista" Dense="true" Striped="true" Hover="true" SortLabel="Sort By">
        <ToolBarContent>
            <div class="contenedorTabla">
                <MudText Typo="Typo.h6">Destinatarios @title</MudText>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="color: white;">NOMBRE</MudTh>
            <MudTh Style="color: white;">APELLIDO</MudTh>
            <MudTh Style="color: white;">CEDULA</MudTh>
        </HeaderContent>
        <RowTemplate Context="customer">
            <MudTd>@customer.FirstName</MudTd>
            <MudTd>@customer.LastNames</MudTd>
            <MudTd>@customer.CI</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager Style="border: none;" HorizontalAlignment="MudBlazor.HorizontalAlignment.Center" RowsPerPageString=" " InfoFormat="{first_item}-{last_item} de {all_items}" />
        </PagerContent>
    </MudTable>
</div>
   
@code {
    [Parameter]
    public List<Customers> lista { get; set; } = new();

    [Parameter]
    public string title { get; set; } = "";
}
